<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>學生登錄頁面</title>
  </head>
  <body>
    <form action="/students" method="POST">
      <label for="name">姓名：</label>
      <input type="text" name="name" id="name" />
      <label for="age">年齡：</label>
      <input type="number" name="age" id="age" />
      <label for="merit">merit 獎學金：</label>
      <input type="number" name="merit" id="merit" />
      <label for="other">other 獎學金：</label>
      <input type="number" name="other" id="other" />
      <button>學生登錄</button>
    </form>
  </body>
</html>
