<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登錄失敗頁面</title>
  </head>
  <body>
    <p>無法新增學生。</p>
    <a href="/students">學生首頁</a>
  </body>
</html>
